:root {
  --black-text: #212121;
  --graphite-text: #757575;
  --white-text: #ffffff;
  --wt-op60: rgba(255, 255, 255, 0.6);
  --blue-text: #2196f3;
  --lightblack: #2f303a;
  --grey: #f5f4fa;
  --darkblack: #000000;
  --border-color: #ececec;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-text);
}

.colortext {
  color: var(--darkblack);
}

.site-nav:hover,
.site-nav:focus {
  color: var(--blue-text);
}

.link-prime {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--blue-text);
}

.link-current {
  color: var(--blue-text);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
  background: var(--lightblack);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button-one {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--white-text);
  background: var(--blue-text);
}

.button-one:hover,
.button-one:focus {
  color: var(--black-text);
  background-color: var(--white-text);
}

/* .features /* Особенности
 {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
} */

/* general-features */

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
}

.description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--graphite-text);
}

/* about us */

.function-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.staff {
  background: var(--grey);
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.members-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.post-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--graphite-text);
}

footer {
  background-color: var(--lightblack);
}

.colorword {
  color: var(--white-text);
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.item-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--wt-op60);
}

/* Portfolio */

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-text);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue-text);
}

.colortext {
  color: var(--darkblack);
}

.link-prime {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--blue-text);
}

.link-info-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--graphite-text);
}

.link-info-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--graphite-text);
}

.link-info-email:hover,
.link-info-email:focus {
  color: var(--blue-text);
}

.link-info-contact:hover,
.link-info-contact:focus {
  color: var(--blue-text);
}

.btn:hover,
.btn:focus {
  background-color: var(--blue-text);
  color: var(--white-text);
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--black-text);
  background: var(--grey);
}

/* main */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.catalog-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-text);
}

.catalog-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--graphite-text);
}

footer {
  background-color: var(--lightblack);
}

.colorword {
  color: var(--white-text);
}

.item-address:hover,
.item-address:focus {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: var(--blue-text);
}

/* STUDIO */
* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.header-menu {
  display: flex;
}

.container-menu {
  width: 1200;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
}

.site-nav .item:last-child {
  margin-right: 50;
}

.list-data .item:last-child {
  margin-right: 50;
}

.link-prime {
  display: block;
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 25px;
}

.list-nav {
  display: flex;
}

.item-ref {
  display: block;
  margin-right: 50px;
}

.link-current {
  display: block;
  margin-left: 93px;
}

.list-data {
  display: flex;
  margin-left: 331px;
}

.item-data {
  display: block;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero {
  padding: 31px 0;
}

.container-hero-title {
  text-align: center;
  width: 1200;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--lightblack);
}

.hero-title {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
  padding-bottom: 30px;
}

.button-one {
  text-align: center;
  width: 200px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 30px;
  margin-bottom: 200px;
}

.features {
  padding: 94px 0;
}

.container-features {
  width: 1200;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list-features {
  display: flex;
  flex-basis: calc((100% - 60px) / 4);
  justify-content: center;
}

.item-description {
  display: block;
  width: 270px;
}

.features-title {
  padding-bottom: 10px;
}

.container-company {
  width: 1200;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.list-about-us {
  display: flex;
  justify-content: center;
  width: calc(100% - 60px) / 3;
  margin-left: auto;
  margin-right: auto;
}

.item-images {
  display: block;
  width: 370px;
  height: 297px;
  padding-right: 30px;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
}

.staff {
  padding: 94px 0;
}

.containet-our-staff {
  width: 1200;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team {
  text-align: center;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.list-staff {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% - 90px) / 4;
  padding-bottom: 94px;
}

.containet-our-staff {
  width: 1200;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.our-profi {
  border-radius: 4px;
}

.item-img-staff {
  display: block;
  width: 270px;
  height: 260px;
  padding-right: 30px;
}

.members-title {
  display: flex;
  justify-content: center;
  padding-top: 30px;

  background-color: var(--white-text);
}

.post-text {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: var(--white-text);
}

.container-footer {
  padding: 0 auto;
  margin: 0 auto;
}

.footer-list {
  padding-top: 60px;
  padding-left: 215px;
}

.address {
  padding-top: 20px;
  padding-bottom: 60px;
}

.address .item-address:not(:first-child) {
  padding-top: 9px;
}

/* PORTFOLIO */

.directions {
  padding-top: 94px 0;
}

.container-offers {
  width: 1200;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid var(--border-color) 1px;
}

.list-offers {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.list-offers:last-child {
  margin-right: 0px;
}

.item-btn {
  margin-right: 8px;
}

.item-btn {
  padding: 6px 22px;
  text-align: center;
  /* border-radius: 4px; */
  border: 0;
  cursor: pointer;
}

/* .list-catalog {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 60px) / 3;
  padding-top: 34px;
}

/* .item-catalog {
  display: inline-block;
  flex-wrap: wrap;
 
  margin-left: auto;
  margin-right: auto;
} */

/* .list-catalog:nth-child(3n) {
  margin-right: 30;
} */
