:root {
  --black-text: #212121;
  --graphite-text: #757575;
  --white-text: #ffffff;
  --wt-op60: rgba(255, 255, 255, 0.6);
  --blue-text: #2196f3;
  --lightblack: #2f303a;
  --grey: #f5f4fa;
  --darkblack: #000000;
  --border-color: #ececec;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu {
  display: flex;
}

.header-menu {
  margin: 0 auto;
  padding: 0 auto;
}

.site-nav {
  display: flex;
  align-items: center;
  
  padding: 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-text);
}


.link-prime {
  display: inline-block;
  justify-content: flex-start;
  margin-left: 0;
  margin-right: 93px;
  padding: 32px 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--blue-text);
}

.colortext {
  color: var(--darkblack);
}

.list-nav {
  display: flex;
  align-items: center;
}

.link {
  color: var(--darkblack);
}
  
.link:hover,
.link:focus, 
.item-ref:hover,
.item-ref:focus
{ 
 color: var(--blue-text);
}

.current {
  color: var(--blue-text)
}

.item-ref:not(:last-child) {
  margin-right: 50px;
}

.list-data {
  display: flex;
  align-items: center;
  margin-left: auto;
 
}

.link-mail {
  display: inline-block;
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--graphite-text);
}

.link-tel {
  display: inline-block;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--graphite-text);
}

.link-tel:hover,
.link-tel:focus {
  color: var(--blue-text);
}

.link-mail:hover,
.link-mail:focus {
  color: var(--blue-text);
}

/* "ГЕРОЙ" */ 


.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--lightblack);
}

.hero-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
  background: var(--lightblack);
} 

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button-one {
  text-align: center;
  width: 200px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--white-text);
  background: var(--blue-text);
}

.button-one:hover,
.button-one:focus {
  color: var(--black-text);
  background-color: var(--white-text);
}

/* "ОСОБЕННОСТИ" */

.features {
  padding: 94px 0;
  margin-right: auto;
  margin-left: auto;
}

.list-features {
  display: flex;
  justify-content: center;
}

.features-title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
}

.features-text {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--graphite-text);
}

.features:not(:last-child) {
  margin-right: 50px;
}

/* "О НАС" */

.functions-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.staff {
  padding: 94px 0;
  background: var(--grey);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% - 90px) / 4;
  padding-bottom: 94px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.item-team {
  display: block;
  width: 270px;
  height: 260px;
  padding-right: 30px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--graphite-text);
}

/* text-align: center;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto; */

footer {
  display: flex;
  padding: 60px 0;
  background-color: var(--lightblack);
}


.address {
  padding-top: 20px;
  padding-bottom: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.item-contacts .tel {
  margin-bottom: 9px;
}

.list-contacts {
  display: block;
  padding-top: 60px;
  padding-left: 215px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--graphite-text);
}

.item-contacts:hover,
.item-contacts:focus {
  color: var(--blue-text);
}

.colorword {
  color: var(--white-text);
}

.list-contacts .item-contacts:not(:first-child) {
  padding-top: 9px;
}

/* ПОРТФОЛИО */
.btn:hover,
.btn:focus {
  background-color: var(--blue-text);
  color: var(--white-text);
}

.item-btn {
  display: block;
  padding: 6px 22px;
  text-align: center;
  outline-style: none;
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.catalog-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-text);
}

.catalog-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--graphite-text);
}

/* STUDIO */

/* .hero {
  padding: 31px 0;
} */



.item-description {
  display: block;
  width: 270px;
}

.list-about-us {
  display: flex;
  justify-content: center;
  width: calc(100% - 60px) / 3;
  margin-left: auto;
  margin-right: auto;
}

.item-images {
  display: block;
  width: 370px;
  height: 297px;
  padding-right: 30px;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
}

.our-profi {
  border-radius: 4px;
}

.members-title {
  display: flex;
  justify-content: center;
  padding-top: 30px;

  background-color: var(--white-text);
}

.post-text {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: var(--white-text);
}

/* PORTFOLIO */

.directions {
  padding-top: 94px 0;
}

.list-offers {
  display: flex;
  justify-content: center;
}

.list-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 34px;
  margin-left: 30px;
  margin-right: 30px;
}

.item-catalog {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
}

.item-catalog {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
}

.item-catalog:nth-child(3n) {
  margin-right: 0px;
}

.item-catalog:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
